.wrapper {
  display: flex;
}

.side_bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  color: deepskyblue;
  padding: 14px 0;
  border: 1px solid lightblue;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-mate a {
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width:calc(100vw - 300px);
}

.chat-header {
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.right-header {
  margin-top: 40px;
}

.right-header a {
  padding: 20px;
  color: darkred;
  border: 1px solid darkred;
  text-decoration: none;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message {
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message {
  width: 100%;
  padding-left: 10px;
  height: 50px;
  border: none;
}

.form-submit {
  height: 50px;
  font-size: 16px;
  margin-left: 15px;
  padding: 0 20px;
  color: white;
  background-color: #38aef0;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}